<nav class="navbar navbar-expand-lg sticky-top navbar-light bg-light">
  <a class="navbar-brand" href="/">BK</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/addstudent">Add Student</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/addauthor">Add Author</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/addbook">Add Book</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/addcategory">Add Category</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/addborrowers">Add Borrower </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">Logout </a>
      </li>
    </ul>
  </div>
</nav>