{% extends 'base_layout.html' %}
{% include 'includes/_navbaradmin.html' %}
{% block body %}
<div class="mt">
  <div class="row">
    <div class="col-md-12">
      <div class="touch">
        <div class="card">
          <div class="card-body ">
            {% with messages = get_flashed_messages()%}
            {% if messages %}
            {% for msg in messages%}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
              {{msg}}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            {%endfor%}
            {%endif%}
            {% endwith%}
            <h5 class="text-center">เพิ่มข้อมูลนักเรียน</h5>
            <div class="col-sm">
              <div class="form">
                <form action="/addstudent"  method="post" name="myForm" onsubmit="return validateForm()">
                  <div class="form-group">
                    <label for="fname">ID:</label>
                    <input type="number" class="form-control" id="s_id" name="s_id" placeholder="ID">
                  </div>

                  <div class="form-group">
                    <label for="fname">First name:</label>
                    <input type="text" id="fname" name="fname" class="form-control" placeholder="First name">
                  </div>

                  <div class="form-group">
                    <label for="lname">Last name:</label>
                    <input type="text" id="lname" class="form-control" name="lname" placeholder="Last name">
                  </div>
                  <div class="form-group">
                    <label for="fname">Major:</label>
                    <input type="text" id="major" name="major" placeholder="Major" class="form-control">
                  </div>
                  <div class="form-group">
                    <label for="author">Choose a Year:</label>
                    <select type="number" id="year" name="year">
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                    </select>
                  </div>
                  <br>
                  <div class="form-group">
                    <input type="submit" class="btn btn-dark" value="Submit">
                  </div>
                </form>
                <br>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-md-12">
  <div class="touch">
    <div class="card text-left">
      <div class="card-body">
        <div class="row">
          <div class="touch">
            <div class="card-body">
              <div class="col-sm">
                <div class="form">
                  <label>ค้นหารายชื่อนิสิต</label>
                  <form>
                    <input type="text" id="myinput" class="form-control" onkeyup="myFunction()"
                      placeholder="Search for names..">
                    <br>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <table id="Searchtable" class="table table-bordered">
            <thead class="thead-dark">
              <tr>
                <th>รหัสนิสิต</th>
                <th>ชื่อ</th>
                <th>นามสกุล</th>
                <th>ภาควิชา</th>
                <th>ชั้นปีการศึกษา</th>
                <th></th>
              </tr>
            </thead>
            <tbody style="background-color: white">
              {% for i in data %}
              <tr>
                <td>{{i[0]}}</td>
                <td>{{i[1]}}</td>
                <td>{{i[2]}}</td>
                <td>{{i[3]}}</td>
                <td>{{i[4]}}</td>
                <td><a href="/update/{{ i[0] }}" class="btn btn-success">แก้ไข</a><i class="fa fa-pencil"
                    aria-hidden="true">
                    <button data-id="{{i[0]}}" class="btn btn-danger delete" data-target="#confirm"
                    data-toggle="confirm">ลบ</i></button>
                  </td>
                   
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="confirm">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">ยืนยันการลบข้อมูล</h4>
      </div>
      <div class="modal-body d-flex justify-content-center">
        <i class='fas fa-trash-alt' style="font-size:54px;color:red;"></i>
      </div>
      <div class="modal-footer">
        <button data-id="" class="btn btn-success yes">ยืนยัน</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">ยกเลิก</button>
      </div>
    </div>
  </div>
<script>
  function validateForm() {
  var a = document.forms["myForm"]["fname"].value;
  var b = document.forms["myForm"]["lname"].value;
  var c = document.forms["myForm"]["major"].value;
  var d = document.forms["myForm"]["fname"].value;
  if (a == "" || b == "" || c == "" || d == "") {
    alert("โปรดกรอกข้อมูลให้ครบ!");
    return false;
  }
}
  function myFunction() {
    var filter = event.target.value.toUpperCase();
    var rows = document.querySelector("#Searchtable tbody").rows;

    for (var i = 0; i < rows.length; i++) {
      var firstCol = rows[i].cells[0].textContent.toUpperCase();
      var secondCol = rows[i].cells[1].textContent.toUpperCase();
      var tCol = rows[i].cells[2].textContent.toUpperCase();
      var fCol = rows[i].cells[3].textContent.toUpperCase();
      var fvCol = rows[i].cells[4].textContent.toUpperCase();
      if (firstCol.indexOf(filter) > -1 || secondCol.indexOf(filter) > -1 || tCol.indexOf(filter) > -1 || fCol
        .indexOf(filter) > -1 || fvCol.indexOf(filter) > -1) {
        rows[i].style.display = "";
      } else {
        rows[i].style.display = "none";
      }
    }
  }
  $(document).ready(function () {
  $(".delete").click(function () {
    var id = $(this).data("id");
    $(".yes").data("id", id);
    var title = $(".yes").data("id");
    $("#confirm").modal();
  });
  $(".yes").click(function () {
    var id = $(this).data("id");
    window.location.href = "/delete/" + id;
    });
   
});
</script>


{% endblock %}