{% extends 'base_layout.html' %}
{% include 'includes/_navbaradmin.html' %}
{% block body %}
<div class="mt">
  <div class="row">
    <div class="col-md-12">
      <div class="touch">
        <div class="card">
          <div class="card-body">
            <h5 class="text-center">เพิ่มข้อมูลนักเรียน</h5>
            <div class="col-sm">
              <div class="form">
                <form action="/addstudent" method="post">
                  <div class="form-group">
                    <label for="fname">ID:</label>
                    <input type="text" class="form-control" id="s_id" name="s_id" placeholder="ID">
                  </div>

                  <div class="form-group">
                    <label for="fname">First name:</label>
                    <input type="text" id="fname" name="fname" class="form-control" placeholder="First name">
                  </div>

                  <div class="form-group">
                    <label for="lname">Last name:</label>
                    <input type="text" id="lname" class="form-control" name="lname" placeholder="Last name">
                  </div>
                  <div class="form-group">
                    <label for="fname">Major:</label>
                    <input type="text" id="major" name="major" placeholder="Major" class="form-control">
                  </div>
                  <div class="form-group">
                    <label for="author">Choose a Year:</label>
                    <select type="number" id="year" name="year">
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                    </select>
                  </div>
                  <br>
                  <div class="form-group">
                    <input type="submit" class="btn btn-primary" value="Submit">
                  </div>
                </form>
                <br>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-md-12">
  <div class="touch">
    <div class="card text-left">
      <div class="card-body">
        <div class="row">
          <div class="touch">
            <div class="card-body">
              <div class="col-sm">
                <div class="form">
                  <label>ค้นหารายชื่อนิสิต</label>
                  <form>
                    <select id="input" name="input" form="input" class="form-control select2-multi"
                      name="tags" multiple="multiple">
                      {% for i in data %}
                      <option value="{{i[0]}}"> {{i[0]}} | {{i[1]}} {{i[2]}} | {{i[3]}} | {{i[4]}} </option>
                      {% endfor %}
                    </select>
                  </form>
                  <button class="btn btn-primary" onclick="send()">Submit</button>
                  <br>
                </div>
              </div>
            </div>
          </div>
          <table class="table table-bordered  table-success">
            <tr>
              <th>รหัสนิสิต</th>
              <th>ชื่อ</th>
              <th>นามสกุล</th>
              <th>ภาควิชา</th>
              <th>ชั้นปีการศึกษา</th>
              <th></th>
            </tr>
            <tbody style="background-color: white">
              {% for i in data %}
              <tr>
                <td>{{i[0]}}</td>
                <td>{{i[1]}}</td>
                <td>{{i[2]}}</td>
                <td>{{i[3]}}</td>
                <td>{{i[4]}}</td>
                <td><a href="/update/{{ i[0] }}" class="btn btn-success">แก้ไข</a><i class="fa fa-pencil"
                    aria-hidden="true"></i>
                  <button data-id="{{ i[0] }}" class="btn btn-danger delete" data-target="#confirm"
                    data-toggle="confirm">ลบ</i></td>

              </tr>
              {% endfor %}
            </tbody>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="confirm" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">ยืนยันการลบข้อมูล</h4>
      </div>
      <div class="modal-body d-flex justify-content-center">
        <i class='fas fa-trash-alt' style="font-size:54px;color:red;"></i>
      </div>
      <div class="modal-footer">
        <button data-id="" class="btn btn-success yes">ยืนยัน</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">ยกเลิก</button>
      </div>
    </div>
  </div>
</div>
<script>
  var selectedinput;
  $(function () {
    $('.select2-multi').select2();

  });
  $('#input').change(function () {
    var input = $(this).val()
    selectedinput = input.join("-");
  })
function send(){
  window.location.href = "/search/"+selectedinput;
}
$(document).ready(function () {
    $(".delete").click(function () {
      var id = $(this).data("id");
      $(".yes").data("id", id);
      var title = $(".yes").data("id");
      $("#confirm").modal();
    });
    $(".yes").click(function () {
      var id = $(this).data("id");
      window.location.href = "/delete/" + id;
    });
  });
 
</script>
{% endblock %}