{% extends 'base_layout.html' %}
{% include 'includes/_navbaradmin.html' %}
{% block body %}
<div class="mt">
  <div class="row">
    <div class="col-md-12">
      <div class="touch">
        <div class="card">
          <div class="card-body">
            {% with messages = get_flashed_messages()%}
            {% if messages %}
            {% for msg in messages%}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
              {{msg}}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            {%endfor%}
            {%endif%}
            {% endwith%}
            <h5 class="text-center">เพิ่มหนังสือ</h5>
            <div class="col-sm">
              <div class="form">
                <form action="/addbook" method="post">
                  <div class="form-group">
                    <label >ชื่อหนังสือ :</label>
                    <input type="text" id="title" name="title" class="form-control" placeholder="ชื่อหนังสือ">
                  </div>
                  <div class="form-group">
                    <label  for="author">Choose a floor:</label>     
                    <select id="floor" name="floor">         
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="author">Choose a author:</label>
                    <select id="author_id" name="author_id"  class="form-control select2-multi">
                      {% for j in data2 %}
                      <option value="{{j[0]}}">{{j[0]}} | {{j[1]}} {{j[2]}}</option>
                      {% endfor %}
                    </select>
                  </div>
                  <div class="form-group">
                    <label>Choose a Category:</label>
                    <select id="c_id" name="c_id"  class="form-control select2-multi"  multiple="multiple">
                      {% for k in data3 %}
                      <option value="{{k[0]}}">{{k[0]}} | {{k[1]}} {{k[2]}}</option>
                      {% endfor %}
                    </select>                    
                    <br>
                  <div class="form-group">
                    <label for="lname">Publisher :</label>
                    <input type="date" id="publisher" class="form-control" name="publisher" >
                  </div>
                  <div class="form-group">
                    <label for="lname">Stock :</label>
                    <input type="text" id="stock" class="form-control" name="stock" >
                  </div>
                </form> 
                <br>
              </div><button class="btn btn-primary" id="SubmitBtn">Submit</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-md-12">
  <div class="touch">
    <div class="card text-left">
      <div class="card-body">
        <div class="row">
          <div class="touch">
            <div class="card-body">
              <h5 class="text-center">ค้นหาหนังสือ</h5>
              <div class="col-sm">
                <div class="form">
                   <form >
                    <input type="text" id="myinput" class="form-control" onkeyup="myFunction()"
                      placeholder="Search for names.." title="Type in a name">
                  </form>
                  <br>
                </div>
              </div>
            </div>
          </div>
          <table id="Searchtable"class="table table-bordered  table-success">
            <thead>
            <tr>
              <th>ID หนังสือ</th>
              <th>ชื่อนักแต่ง</th>
              <th>ชื่อหนังสือ</th>
              <th>วันที่พิมพ์</th>
              <th>จำนวน</th>
              <th></th>
            </tr>
          </thead>
            <tbody style="background-color: white">
              {% for i in data %}
              <tr>
                <td>{{i[3]}}</td>
                <td>{{i[1]}} {{i[2]}}</td>
                <td>{{i[4]}}</td>
                <td>{{i[6]}}</td>
                <td>{{i[7]}}</td>
                <td><a href="/updatebook/{{i[3]}}" class="btn btn-success">แก้ไข</a><i class="fa fa-pencil"
                    aria-hidden="true"></i>
                  <button data-id="{{i[3]}}" class="btn btn-danger delete" data-target="#confirm"
                    data-toggle="confirm">ลบ</i></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="confirm" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">ยืนยันการลบข้อมูล</h4>
      </div>
      <div class="modal-body d-flex justify-content-center">
        <i class='fas fa-trash-alt' style="font-size:54px;color:red;"></i>
      </div>
      <div class="modal-footer">
        <button data-id="" class="btn btn-success yes">ยืนยัน</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">ยกเลิก</button>
      </div>
    </div>
  </div>
</div>

<script>
$(function(){
  $('.select2-multi').select2();
});
function myFunction() {
  var filter = event.target.value.toUpperCase();
    var rows = document.querySelector("#Searchtable tbody").rows;
    
    for (var i = 0; i < rows.length; i++) {
        var name = rows[i].cells[1].textContent.toUpperCase();
        var title = rows[i].cells[2].textContent.toUpperCase();
        var date = rows[i].cells[3].textContent.toUpperCase();
        if (name.indexOf(filter) > -1 || title.indexOf(filter) > -1 || date.indexOf(filter) > -1) {
            rows[i].style.display = "";
        } else {
            rows[i].style.display = "none";
        }      
    }
}
$(document).ready(function () {
  $(".delete").click(function () {
    var id = $(this).data("id");
    $(".yes").data("id", id);
    var title = $(".yes").data("id");
    $("#confirm").modal();
  });
  $(".yes").click(function () {
    var id = $(this).data("id");
    window.location.href = "/deletebook/" + id;
    });
});
var c_ids = ("{{data3[0][0]}}");
var title = "TestTitle";
var floor = 1;
var author_id = ("{{data2[0][0]}}");
var publisher = "Testpublisher";

$('#title').change(function(){
    title = $(this).val();
})
$('#floor').change(function(){
  floor = $(this).val();
})
$('#author_id').change(function(){
  author_id = $(this).val();
})
$('#publisher').change(function(){
  publisher = $(this).val();
})
$('#c_id').change(function(){
    var c_id = $(this).val();
    c_ids = c_id.join("-");
})
$('#stock').change(function(){
  stock = $(this).val();
})
$("#SubmitBtn").click(function(){
  $.post("addbook",{
    title:title,
    floor:floor,
    author_id:author_id,
    c_id:c_ids,
    publisher:publisher,
    stock : stock
  });
  window.location.href = '/addbook';
})


</script>

{% endblock %}