{% extends 'base_layout.html' %}
{% include 'includes/_navbaradmin.html' %}
{% block body %}
<div class="mt">
  <div class="row">
    <div class="col-md-12">
      <div class="touch">
        <div class="card">
          <div class="card-body">
            <h5 class="text-center">เพิ่มผู้ยืม</h5>
            <div class="col-sm">
              <div class="form">
                <form action="/addborrower" method="post">
                  <div class="form-group">
                    <label for="std">รหัสนิสิต:</label>
                    <select id="std_id" name="std_id"  class="form-control select2-multi">
                      {% for j in data2 %}
                      <option value="{{j[0]}}">{{j[0]}} | {{j[1]}} {{j[2]}}</option>
                      {% endfor %}
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="std">หนังสือ :</label>
                    <select id="book" name="book"  class="form-control select2-multi"  multiple="multiple">
                      {% for k in data3 %}
                      {%if k[5] == 0 %}
                      <option value="{{k[1]}}" disabled>{{k[1]}} | {{k[2]}} | {{k[6]}} {{k[7]}} </option>
                      {%elif  k[5] > 0 %}
                      <option value="{{k[1]}}">{{k[1]}} | {{k[2]}} | {{k[6]}} {{k[7]}} </option>
                      {%endif%}
                      {% endfor %}
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="lname">BORROWER DATE :</label>
                    <input type="date" id="borrowerdate" class="form-control" name="borrower" >
                  </div>
                  <div class="form-group">
                    <label for="lname">RETURN DATE :</label>
                    <input type="date" id="returndate" class="form-control" name="return" >
                  </div>
                </form> 
                <br>
              </div><button class="btn btn-dark" id =SubmitBtn >Submit</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-md-12">
  <div class="touch">
    <div class="card text-left">
      <div class="card-body">
        <div class="row">
          <div class="touch">
            <div class="card-body">
              <h5 class="text-center">ค้นหาผู้ยืม</h5>
              <div class="col-sm">
                <div class="form">
                   <form >
                    <input type="text" id="myinput" class="form-control" onkeyup="myFunction()"
                      placeholder="Search for names.." title="Type in a name">
                  </form>
                  <br>
                </div>
              </div>
            </div>
          </div>
          <table id="Searchtable"class="table table-bordered ">
            <thead class="thead-dark">
            <tr>
              <th>รหัสนิสิต</th>
              <th>วันที่คืน</th>
              <th>วันที่ยืม</th>
              <th></th>
            </tr>
          </thead>
            <tbody style="background-color: white">
              {% for i in data %}
              <tr>
                <td>{{i[3]}} </td>  
                <td>{{i[1]}}</td>
                <td>{{i[2]}} </td>
                      
                <td><a href="/updateborrower/{{i[0]}}" class="btn btn-success">แก้ไข</a><i class="fa fa-pencil"
                    aria-hidden="true"></i>
                  <button data-id="{{i[0]}}" class="btn btn-danger delete" data-target="#confirm"
                    data-toggle="confirm">ลบ</i></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="confirm" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">ยืนยันการลบข้อมูล</h4>
      </div>
      <div class="modal-body d-flex justify-content-center">
        <i class='fas fa-trash-alt' style="font-size:54px;color:red;"></i>
      </div>
      <div class="modal-footer">
        <button data-id="" class="btn btn-success yes">ยืนยัน</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">ยกเลิก</button>
      </div>
    </div>
  </div>
</div>

<script>
$(function(){
  $('.select2-multi').select2();
});
function myFunction() {
  var filter = event.target.value.toUpperCase();
    var rows = document.querySelector("#Searchtable tbody").rows;
    
    for (var i = 0; i < rows.length; i++) {
        var name = rows[i].cells[0].textContent.toUpperCase();
        var title = rows[i].cells[1].textContent.toUpperCase();
        var date = rows[i].cells[2].textContent.toUpperCase();
        if (name.indexOf(filter) > -1 || title.indexOf(filter) > -1 || date.indexOf(filter) > -1) {
            rows[i].style.display = "";
        } else {
            rows[i].style.display = "none";
        }      
    }
}
$(document).ready(function () {
  $(".delete").click(function () {
    var id = $(this).data("id");
    $(".yes").data("id", id);
    var title = $(".yes").data("id");
    $("#confirm").modal();
  });
  $(".yes").click(function () {
    var id = $(this).data("id");
    window.location.href = "/deleteborrower/" + id;
    });
});
var std_id = ("{{data2[0][0]}}");
var borrowerdate = "กรุณาระบุวัน";
var returndate = "กรุณาระบุวัน";


$('#std_id').change(function(){
    std_id = $(this).val();
})
$('#borrowerdate').change(function(){
    borrowerdate = $(this).val();
})
$('#returndate').change(function(){
    returndate = $(this).val();
})
$('#book').change(function(){
    var book = $(this).val();
    bookresult = book.join("-");
})
$("#SubmitBtn").click(function(){
  $.post("addborrowers",{
    std_id :std_id,
    borrowerdate : borrowerdate,
    returndate :returndate,
    book : bookresult
  });
  window.location.href = '/addborrowers';
})


</script>

{% endblock %}