{% extends 'base_layout.html' %}
{% include 'includes/_navbaradmin.html' %}
{% block body %}
<div class="mt">
  <div class="row">
    <div class="col-md-12">
      <div class="touch">
        <div class="card">
          <div class="card-body">
            <h5 class="text-center">เพิ่มหนังสือ</h5>
            <div class="col-sm">
              <div class="form">
                <form action="/addbook" method="post">
                  <div class="form-group">
                    <label for="fname">ชื่อหนังสือ :</label>
                    <input type="text" id="name" name="title" class="form-control" placeholder="ชื่อหนังสือ">
                  </div>
                  <div class="form-group">
                    <label for="author">Choose a floor:</label>     
                    <select id="floor" name="floor">         
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="author">Choose a author:</label>     
                    <select id="author_id" name="author_id"  class="form-control select2-multi"  multiple="multiple">
                      {% for j in data2 %}
                      <option id="{{j[0]}}" value="{{j[0]}}">{{j[0]}} | {{j[1]}} {{j[2]}}</option>
                      {% endfor %}
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="author">Choose a Category:</label>     
                    <select id="c_id" name="c_id"  class="form-control js-example-tokenizer"  multiple="multiple">
                      {% for k in data3 %}
                      <option id="{{k[0]}}" value="{{k[0]}}">{{k[0]}} | {{k[1]}} {{k[2]}}</option>
                      {% endfor %}
                    </select>
                    <br>
                  <div class="form-group">
                    <label for="lname">Publisher :</label>
                    <input type="date" id="publisher" class="form-control" name="publisher" >
                  </div>
                  <br>
                  <div class="form-group">
                    <input type="submit" class="btn btn-primary" value="Submit">
                  </div>
                </form>
                <br>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-md-12">
  <div class="touch">
    <div class="card text-left">
      <div class="card-body">
        <div class="row">
          <div class="touch">
            <div class="card-body">
              <h5 class="text-center">ค้นหาหนังสือ</h5>
              <div class="col-sm">
                <div class="form">
                  <form action="/searchbook" method="POST">
                    <input type="text" name="input" class="form-control" />
                    <br>
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </form>
                  <br>
                </div>
              </div>
            </div>
          </div>
          <table class="table table-bordered  table-success">
            <tr>
              <th>ID หนังสือ</th>
              <th>ID นักแต่ง</th>
              <th>ชื่อหนังสือ</th>
              <th></th>
            </tr>
            <tbody style="background-color: white">
              {% for i in data %}
              <tr>
                <td>{{i[3]}}</td>
                <td>{{i[0]}} | {{i[1]}} {{i[2]}}</td>
                <td>{{i[4]}}</td>
                <td><a href="/updatebook/{{ i[0] }}" class="btn btn-success">แก้ไข</a><i class="fa fa-pencil"
                    aria-hidden="true"></i>
                  <button data-id="{{ i[0] }}" class="btn btn-danger delete" data-target="#confirm"
                    data-toggle="confirm">ลบ</i></td>

              </tr>
              {% endfor %}
            </tbody>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="confirm" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">ยืนยันการลบข้อมูล</h4>
      </div>
      <div class="modal-body d-flex justify-content-center">
        <i class='fas fa-trash-alt' style="font-size:54px;color:red;"></i>
      </div>
      <div class="modal-footer">
        <button data-id="" class="btn btn-success yes">ยืนยัน</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">ยกเลิก</button>
      </div>
    </div>
  </div>
</div>
<script>
$(function(){
  $('.select2-multi').select2();
});
$(function(){
  $('.js-example-tokenizer').select2();
});

$(document).ready(function () {
  $(".delete").click(function () {
    var id = $(this).data("id");
    $(".yes").data("id", id);
    var title = $(".yes").data("id");
    $("#confirm").modal();
  });
  $(".yes").click(function () {
    var id = $(this).data("id");
    window.location.href = "/deletebook/" + id;
    });
});
</script>

{% endblock %}