{% extends 'base_layout.html' %}
{% include 'includes/_navbar.html' %}
{% block body %}
<div class="mt">
  <div class="row">
    <div class="col-md-12">
      <div class="touch">
        <div class="card text-left">
          <div class="card-body">
            <div class="row">
              
              <div class="col-sm">
                <div class="form">
                  <form>
                    <h5 class="text-center">ค้นหาหนังสือ</h5><input type="text" id="myinput" class="form-control" onkeyup="myFunction()"
                      placeholder="ค้นหาได้ด้วยชื่อหนังสือ หรือ ผู้แต่ง" title="Type in a name">
                  </form>
                  <br>
                </div>
              </div>
            </div>
          </div>
          <table id="Searchtable" class="table table-bordered  table-success">
            <thead>
              <tr>
                <th>ชื่อหนังสือ</th>
                <th>ชื่อผู้แต่ง</th>
                <th>นามสกุลผู้แต่ง</th>
                <th>สถานะหนังสือ</th>
                <th>จำนวนที่เหลืออยู่</th>
              </tr>
            </thead>
            <tbody style="background-color: white">
              {% for i in data %}
              <tr>
                <td>{{i[1]}}</td>
                <td>{{i[2]}}</td>
                <td>{{i[6]}}</td>
                <td>{{i[7]}}</td>
                {%if i[5] == 0%}
                <td>ถูกยืมหมดแล้ว</td>
                {%elif i[5] > 0 %}
                <td>{{i[5]}}</td>
                {%endif%}
                
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
<script>
  function myFunction() {
    var filter = event.target.value.toUpperCase();
    var rows = document.querySelector("#Searchtable tbody").rows;

    for (var i = 0; i < rows.length; i++) {
      var firstCol = rows[i].cells[1].textContent.toUpperCase();
      var secondCol = rows[i].cells[2].textContent.toUpperCase();
      var tCol = rows[i].cells[3].textContent.toUpperCase();
      var fCol = rows[i].cells[4].textContent.toUpperCase();
      
      if (firstCol.indexOf(filter) > -1 || secondCol.indexOf(filter) > -1 || tCol.indexOf(filter) > -1 || fCol
        .indexOf(filter) > -1 ) {
        rows[i].style.display = "";
      } else {
        rows[i].style.display = "none";
      }
    }
  }

</script>

{% endblock %}