{% extends 'base_layout.html' %}
{% include 'includes/_navbar.html' %}
{% block body %}
<div class="mt">
  <div class="row">
    <div class="col-md-12">
      <div class="touch">
        <div class="card text-left">
          <div class="card-body ">
            <div class="row">
              <div class="col-sm">
                {% with messages = get_flashed_messages()%}
                {% if messages %}
                {% for msg in messages%}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                  {{msg}}
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                {%endfor%}
                {%endif%}
                {% endwith%}
                <div class="form">
                  <form action="/searchborrower" method="post">
                    <h5 class="text-center">ค้นหา</h5><input type="text" name="stdid" class="form-control"
                      onkeyup="myFunction()" placeholder="ค้นหาด้วยรหัสนิสิต" title="Type in a name">
                    <div class="form-group">
                      <input type="submit" class="btn btn-dark " value="Submit">
                    </div>
                  </form>
                  <br>
                </div>
              </div>
            </div>
          </div>
          <table id="Searchtable" class="table table-bordered">
            <thead class="thead-dark">
              <tr>
                <th>รหัสนิสิต</th>
                <th>ชื่อหนังสือ</th>
                <th>นามสกุลผู้แต่ง</th>
                <th>สถานะหนังสือ</th>
              </tr>
            </thead>
            <tbody>
              {% for i in data %}
              <tr>
                <td>{{i[3]}}</td>
                <td>{{i[1]}}</td>
                <td>{{i[2]}}</td>
                <td>{{i[3]}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
{% endblock %}