{% extends 'base_layout.html' %}
{% include 'includes/_navbaradmin.html' %}
{% block body %}
<div class="mt">
    <div class="row">
        <div class="col-md-12">
            <div class="touch">
                <div class="card text-left">
                    <div class="card-body">
                        <form  method="POST">
                            <h4 class=text-center>แก้ไขข้อมูล</h4>
                            <div class="card-body">
                                <div class="form-group">
                                    <h4>รหัสนิสิต | ชื่อ </h4>
                                    <input type="text" placeholder="name" class="form-control" name="name"
                                        value="{{data[0][2]}} | {{data[0][5]}} {{data[0][6]}} " /><br>
                                    
                                    <h4>Borrower Date</h4>
                                    <input type="date" id="borrowerdate" placeholder="Borrower Date" class="form-control"
                                        name="borrowerdate" value="{{data[0][4]}}" /><br>
                                    <h4>Return Date</h4>
                                    <input type="date" placeholder="Return date" class="form-control" id="returndate" name="returndate"
                                        value="{{data[0][3]}}" /><br>
                                    <h4>หนังสือ</h4>
                                    <select id="book_id" name="book_id" class="form-control select2-multi"
                                        multiple="multiple">
                                        {% for k in data %}
                                        <option value="{{k[0]}}" selected="selected">{{k[10]}} </option>
                                        {% endfor %}
                                        {% for i in data2 %} 
                                        {%if i[5] > 0  %}
                                        <option value="{{i[0]}}">{{i[2]}} </option>
                                        {%endif%}
                                        {% endfor %} 
                                        
                                    </select>
                                </div>
                            </div>
                        </form>
                        <button class="btn btn-danger" id=SubmitBtn>Submit</button>
                        <a href="/addborrowers" class="btn btn-Success">ย้อนกลับ <i
                            class="fas fa-arrow-circle-left"></i></a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<script>
    $(function () {
        $('.select2-multi').select2();
    });
    var borrowerdate = ("{{data[0][4]}}");
    var returndate = ("{{data[0][3]}}");
    var book_id = $('#book_id').val();
    var books = book_id.join("-");

    $('#returndate').change(function () {
        returndate = $(this).val();
    })
    $('#book_id').change(function () {
        var book_id = $(this).val();
        books = book_id.join("-");
    })
    $('#borrowerdate').change(function () {
        borrowerdate = $(this).val();
    })
    $(document).ready(function () {
        $("#SubmitBtn").click(function () {
            $.post("updateborrower", {
                book_id : books,
                borrower_id : ("{{data[0][1]}}"),
                borrowerdate : borrowerdate,
                returndate : returndate
            });
            window.location.href = '/addborrowers';
        })
    })
</script>
{% endblock %}