{% extends 'base_layout.html' %}
{% include 'includes/_navbaradmin.html' %}
{% block body %}
<div class="mt">
    <div class="row">
        <div class="col-md-12">
            <div class="touch">
                <div class="card text-left">
                    <div class="card-body">
                        <form action='' method="POST">
                            <h4 class=text-center>แก้ไขข้อมูล</h4>
                            <div class="card-body">
                                <div class="form-group">
                                    <h4>book id</h4>
                                    <input type="integer" placeholder="รหัสหนังสือ" class="form-control" name="book_id" id = "book_id" disabled
                                        value="{{ data[0][1]}}" /><br>
                                    <h4>author id</h4>
                                    <select name="author_id" id = "author_id">
                                        {% for i in data2 %}
                                        <option disabled="disabled" value="{{i[0]}}">{{i[1]}} {{i[2]}}</option>
                                        {% endfor %}
                                        {% for j in data3 %}
                                        <option value="{{j[0]}}">{{j[1]}} {{j[2]}}</option>
                                        {% endfor %}
                                    </select>
                                    <br><br>
                                    <h4>Title</h4>
                                    <input type="text" placeholder="title" class="form-control" name="title" id = "title"
                                        value="{{data[0][3]}}" /><br>
                                    <h4>floor</h4>
                                    <input type="number" placeholder="floor" class="form-control" name="floor" id = "floor" max="6" min="1"
                                        value="{{data[0][4]}}" /><br>
                                    <h4>publisher :</h4>
                                    <input type="text" class="form-control" name="publisher" id = "publisher" value="{{data[0][5]}}" /><br>
                                    <h4>stock :</h4>
                                    <input type="text" class="form-control" name="stock" id = "stock"   value="{{data[0][6]}}" /><br>
                                    <select id="c_id" name="c_id" class="form-control select2-multi"
                                        multiple="multiple">
                                        {% for k in data %}
                                        <option value="{{k[0]}}" selected="selected">{{k[7]}} {{k[8]}}
                                        </option>
                                        {% endfor %}
                                        {% for l in data4 %}
                                        <option value="{{l[0]}}">{{l[1]}} {{l[2]}}</option>
                                        {% endfor %}
                                    </select>


                                </div>
                            </div>
                        </form>
                        <button class="btn btn-danger" id=SubmitBtn>Submit</button>
                        <a href="/addbook" class="btn btn-Success">ย้อนกลับ <i
                            class="fas fa-arrow-circle-left"></i></a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<script>
    $(function () {
        $('.select2-multi').select2();
    });
    var c_ids = ("{{data3[0][0]}}");
    var title = ("{{data[0][3]}}");
    var floor = ("{{data[0][4]}}");
    var author_id = ("{{data3[0][0]}}");
    var publisher = ("{{data[0][5]}}");
    var stock = ("{{data[0][6]}}");
    $('#title').change(function () {
        title = $(this).val();
    })
    $('#floor').change(function () {
        floor = $(this).val();
    })
    $('#author_id').change(function () {
        author_id = $(this).val();
    })
    $('#publisher').change(function () {
        publisher = $(this).val();
    })
    $('#c_id').change(function () {
        var c_id = $(this).val();
        c_ids = c_id.join("-");
    })
    $('#stock').change(function () {
        stock = $(this).val();
    })
    $(document).ready(function () {
        $("#SubmitBtn").click(function () {
            $.post("updatebook", {
                book_id: ("{{data[0][1]}}"),
                title: title,
                floor: floor,
                author_id: author_id,
                c_id: c_ids,
                publisher: publisher,
                stock: stock
            });
            window.location.href = '/addbook';
        })
    })
</script>

{% endblock %}